{% block content %}
<div class="container">
    <!-- Navigation -->
    <div class="logo">Ehab</div>
    <button class="hamburger-menu" aria-label="Toggle navigation">&#9776;</button>
    <nav class="overlay-menu">
        <button class="close-menu" aria-label="Close navigation">✖</button>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#services">My Services</a></li>
            <li><a href="#featured-works">Projects</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    
    <nav class="main-menu">
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#services">My Services</a></li>
            <li><a href="#featured-works">Projects</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</div>

{% endblock content %}